<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/css/index.css">
    <title>메인페이지</title>
</head>
<body>
    <div id="header">
        <h4>WeekEnd 게시판</h1>
    </div>
    <div id="inner">
        <h2>게시판 홈페이지에 오신 것을 환영합니다!</h2>
        <button onclick="location.href = `/boards`">게시판 목록으로 이동.</button>
    </div>
    <div id="footer">
        <p>여긴 푸터영역이랍니다.</p>
    </div>
</body>
</html>