<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리스트페이지</title>
</head>
<body>
    <div id="header">
        <h4>WeakEnd 게시판</h1>
    </div>
    <div id="inner">
        <h2>게시판 리스트</h2>
        <div>
            <ul>
                <li>
                    <a>게시글 번호</a>
                    <a>아이디</a>
                    <a>게시글 제목은 이렇다 아마 길 듯</a>
                    <a>2025/09/19</a>
                </li>
            </ul>
        </div>
        <button onclick="location.href = `/boards/create`">글 작성하러 가기.</button>
    </div>
    <div id="footer">
        <p>여긴 푸터영역이랍니다.</p>
    </div>
    
</body>
</html>